meta(charset='utf-8')
link(rel="Shortcut Icon",href="#{assets_head}/css/img/favicon.ico?123")
link(href="#{assets_head}/css/img/favicon.ico?123",rel="shortcut icon",type="image/x-icon")
//- link(rel="stylesheet",href="#{assets_head}/css/bootstrap3.css",type="text/css")
link(rel="stylesheet",href="#{assets_head}/css/common.css",type="text/css")
link(rel="stylesheet",href="#{assets_head}/libs/font-awesome/css/font-awesome.css",type="text/css")
script(src='#{assets_head}/js/libs/jquery.js')
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="#{assets_head}/images/icon.png" rel="apple-touch-icon"/>
<meta name="keywords" content="微笑, 开心, 快乐, 阳光, 微笑社区"/>
