if(locals.data)
    div#diaryList.m-photoWall
        ul
            each item,key in locals.data
                if(key%4==0)
                    li
                        a(href='/diary/detail/id-1510834.html', target='_blank')
                            img(src='http://image.smilekeep.cn/uploads/#{item.name}!212', width='212')
                        .p10
                            .fText #{item.desc}
                        .foot
                            a.fa.fa-thumbs-o-up(href='/diary/detail/id-1510834.html') &nbsp;#{item.zan_count}
                            a.fa.fa-eye(href='/diary/detail/id-1510834.html') &nbsp;#{item.visit_count}
                        .section-intro(class="bgcolor-#{Math.floor(Math.random()*10)} clears")
                            //-span.fr.pr20 #{moment("2014-5-18 00:00:00").fromNow()}


        ul
            each item,key in locals.data
                if(key%4==1)
                    li
                        a(href='/diary/detail/id-1510834.html', target='_blank')
                            img(src='http://image.smilekeep.cn/uploads/#{item.name}!212', width='212')
                        .p10
                            .fText #{item.desc}
                        .foot
                            a.fa.fa-thumbs-o-up(href='/diary/detail/id-1510834.html') &nbsp;#{item.zan_count}
                            a.fa.fa-eye(href='/diary/detail/id-1510834.html') &nbsp;#{item.visit_count}
                        .section-intro(class="bgcolor-#{Math.floor(Math.random()*10)} clears")
                            //-span.fr.pr20 #{moment("2014-5-18 00:00:00").fromNow()}


        ul
            each item,key in locals.data
                if(key%4==2)
                    li
                        a(href='/diary/detail/id-1510834.html', target='_blank')
                            img(src='http://image.smilekeep.cn/uploads/#{item.name}!212', width='212')
                        .p10
                            .fText #{item.desc}
                        .foot
                            a.fa.fa-thumbs-o-up(href='/diary/detail/id-1510834.html') &nbsp;#{item.zan_count}
                            a.fa.fa-eye(href='/diary/detail/id-1510834.html') &nbsp;#{item.visit_count}
                        .section-intro(class="bgcolor-#{Math.floor(Math.random()*10)} clears")
                            //-span.fr.pr20 #{moment("2014-5-18 00:00:00").fromNow()}


        ul
            each item,key in locals.data
                if(key%4==3)
                    li
                        a(href='/diary/detail/id-1510834.html', target='_blank')
                            img(src='http://image.smilekeep.cn/uploads/#{item.name}!212', width='212')
                        .p10
                            .fText #{item.desc}
                        .foot
                            a.fa.fa-thumbs-o-up(href='/diary/detail/id-1510834.html') &nbsp;#{item.zan_count}
                            a.fa.fa-eye(href='/diary/detail/id-1510834.html') &nbsp;#{item.visit_count}
                        .section-intro(class="bgcolor-#{Math.floor(Math.random()*10)} clears")
                            //-span.fr.pr20 #{moment("2014-5-18 00:00:00").fromNow()}


        div#diaryLoading.dpn(style='text-align: center; margin-top: 35px;')
            img(src='#{assets_head}/images/loading.gif')
        div.cb

script.
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"smilekeep_微笑社区","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{},"image":{"viewList":["tsina","qzone","sqq","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","qzone","sqq","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
